@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  /* Warna background utama seperti di gambar (Soft Blue-Grey) */
  background-color: #F0F2F5; 
  color: #1e293b;
}

/* Custom Scrollbar agar rapi */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}